@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-font {
  font-family: "Nunito Sans Variable", sans-serif;
}

.display-font{
    font-family: 'Special Elite', sans-serif;
}

.dark-c{
    color: #50be41;
}

.bg-main{
    background-color: #9CC69B;
}